{% extends 'add_so.html' %}

{% block header_text %}Student outcomes{% endblock %}

{% block form_action %}/lists/1/inst/newSo/1/newSo{% endblock %}

{% block table %}
{{list.item_set.count}}
    <table id="id_peos_table" class="table table-bordered table-dark">
        <tr><td>counter</td><td>studentOutcome</td></tr>
      {% for list in list.item_set.all %}
        <tr>
          <td>{{ forloop.counter }}: </td>
          <td>{{ list.sttudentOutcome }}   </td>
        </tr>
      {% endfor %}
    </table>
  {% endblock %}

