{% extends 'base.html' %}

{% block header_text %}List of Institutions{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block table %}
{{list}}
{{list.item_set.count}}
  <table id="id_list_table" class="table table-bordered table-dark">
    <thead class="thead-dark"><tr><td>counter</td><td>email</td><td>password</td><td>confirm_password</td><td>name</td><td>street</td><td>city</td><td>state</td><td>zipcode</td><td>mission</td><td>Add Program Educational Objectives</td><td>Add Student Outcomes</td></tr></thead>
    {% for list in list.item_set.all %}
      <tr>
        <td>{{ forloop.counter }}: </td>
        <td>{{ list.email }}   </td>
        <td>{{ list.password }}</td>
        <td>{{ list.confirm_password }}</td>
        <td>{{ list.name }}</td>
        <td>{{ list.street }}</td>
        <td>{{ list.city }}</td>
        <td>{{ list.state }}</td>
        <td>{{ list.zipcode }}</td>
        <td>{{ list.mission }}</td>
        
        <td><a href="{% url 'add_peos' list.id %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></td>
        <td><a href="{% url 'add_so' list.id %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}